[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

tensorflow = "*"
keras = "*"
pillow = "*"
"h5py" = "*"
matplotlib = "*"
requests = "*"
docopt = "*"
cython = "*"
opencv-python = "*"
pytest = "*"
flask = "*"
protobuf3-to-dict = "*"
